

body{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: black;
    background-color: rgb(92, 165, 233);
    max-width: 1040px;
    text-align: center;
    margin: 20px;
    background-image: url(micro.jpg);
}


/*   */
header{
    background-color: rgb(157, 175, 157);
    padding: 30px;
    margin: 25px;
    grid-column: 1/9;
    grid-row: 1/2;
    border-radius: 10px;
}

/*   */
main{
    background-color: rgb(157, 175, 157);
    padding: 30px;
    margin: 25px;
    grid-column: 4/9;
    grid-row: 2/8;
    border-radius: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

/*   */
section{
    background-color: rgb(157, 175, 157);
    padding: 30px;
    margin: 25px;
    grid-column: 1/4;
    grid-row: 2/6;
    border-radius: 10px;
}

/*   */
aside{
    background-color: lightblue;
    padding: 30px;
    margin: 25px;
    grid-column: 1/4;
    grid-row: 6/8;
    border-radius: 10px;
}

/*   */
footer{
    background-color: lightblue;
    padding: 30px;
    margin: 25px;
    grid-column: 1/9;
    grid-row: 8/9;
    border-radius: 10px;
}

/*   */
.grid{
    display: grid;
    padding: 30px;
    margin: 25px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(200px, auto);
    margin: 0 auto;
}

/*   */
li{
    box-shadow: 6px 0px 8px grey;
    border-radius: 80%;
    display: block;
}

li img {
    width: 80px; 
    margin: 20px;  
    display: block;
    background:linear-gradient( dark grey, black);
    color: black;
    border-radius: 100%;
    cursor: pointer;
    transition: 1.2s ease-in;
    position: relative;

}

img:hover{
    background: rgb(238, 181, 132);
    transform: rotate(360deg);
 
    
}

ul{
    list-style-type: none;
    display: flex;   

} 